@using ScrumPoker.Models;
@using ScrumPoker.Services;
@using ScrumPoker.ViewModels.Poker;
@model PokerVm
@{
    ViewBag.Title = "Scrum Poker";
}
@section scripts  {    
    @Html.Partial("_ScrumPokerJs", Model)<br />
}
@section styles{
    @Styles.Render("~/Content/poker")
}

@if (Model.ProjectId > 0)
{
    <h2 id="spnProjectName">@Html.DisplayFor(model => model.ProjectName)</h2>
    if (Context.Request.Url.AbsolutePath.ToLower().Contains("scrumpoker"))
    {
        <a href="http://TinyUrl.com/scpoket/@Model.ProjectId" class="spaced">tinyurl.com/scpoket/@Model.ProjectId</a>
    }
    else
    {
        @Html.ActionLink(Url.Action("Vote", "Poker", new { @id = Model.ProjectId }, "http"), "Vote", "Poker", new { @id = Model.ProjectId }, new { })
    }
    using (Html.BeginForm("Vote", "Poker", FormMethod.Post))
    {
            <div>
                    <div>First Name*</div>
                    @{
                    object displayMode = new { id = "firstName", maxlength = "12", size = "12"/*, list = "users"*/ };
                    if (!string.IsNullOrEmpty(Model.FirstName))
                    {
                        displayMode = new { id = "firstName", maxlength = "12", size = "12", /*list = "users",*/ disabled = "disabled" };
                    }        
                        @Html.TextBox("firstName", (string)ViewBag.FirstName, displayMode)
                    }
            </div>
        <div>
            <div class="displayGroup">Task Id </div>
            <h3 id="taskIdDisplay" class="displayGroup"></h3>
            @if (ScrumMasterSvc.IsScrumMaster(User.Identity.Name))
            {
                <div class="displayGroup">
                    <input id="taskId" type="text" class="scrumMaster" />
                </div>
                <div class="displayGroup">
                    <input id="btnSetTaskId" type="button" value="Set Task Id" class="scrumMaster" />
                </div>         
            }
        </div>
        <div>
            <div class="displayGroup">
                @Html.TextBox("estimate", (string)ViewBag.estimate, new { id = "estimate" })
            </div>
            <div id="votebutton"> 
                <div>
                    <input type="checkbox" id="chkUsePopup" checked="checked"   />   
                </div>
                <div>      
                    @{
            string disabled = Model.ProjectId > 0 ? "" : "disabled";
                        <input id="SubmitVote" type="button" value="Vote" @disabled/>
                    }
                </div>
            </div>
                @if (ScrumMasterSvc.IsScrumMaster(User.Identity.Name))
                {
                       <div  class="displayGroup">
                            <input id="btnSaveMyVote" type="button" value="Save" class="scrumMaster" />
                            <input id="aClearVotes" type="button" class="scrumMaster" value="Clear"  />
                            <input id="aClearAll" type="button" class="scrumMaster" value="Reset" />
                        </div>  
                } 
                @Html.Hidden("projectid", Model.ProjectId)
        </div>
        @Html.Partial("_UserVotes1")     
    }
}
@Html.Partial("_UserList", Model)<br />
@Html.Partial("_FibonacciPopup", Model)

